<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

    <div>
      <%= link_to '/admin/products' do %>
        <h2><%= @products %> Products</h2>
      <% end %>
    </div>

    <div>
      <%= link_to '/admin/products' do %>
        <h2><%= @categories %> Categories</h2>
      <% end %>
    </div>
    
</section>